<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aptoide.dataprovider">

    <application>
        <service
            android:name=".AptoideSpiceHttpServicePermanent"
            android:exported="false"
            android:label="AptoideSpiceHttpServicePermanent" />
        <service
            android:name=".AptoideSpiceHttpService"
            android:exported="false"
            android:label="AptoideSpiceHttpService" />
        <service
            android:name=".AptoideSpiceHttpsService"
            android:exported="false"
            android:label="AptoideSpiceHttpService" />
    </application>

</manifest>
